h1.title {
    padding-left: 25%;
    padding-bottom: 5%;
}


#container {
    border: 1px solid black;
    width: 94%;
    margin-left: 4%;
    height: 76vh;
}



.statistics-container {
     
    height: 17vh;
    padding-top: 2%;
}




.correct {
    display: inline-block;
    margin-left: 24%;
    font-size: 20px;
    font-weight: 800;
}

span#streak-span {
    color: #13a213;
}



.question-container {
    padding-top: 7%;
}


p#questionText {
    font-size: 23px;
    font-weight: 500;
}



div#alternativAnswers {
    display: grid;
}


.col-xs-12.col-md-10.col-md-offset-1.text-center {
    margin-top: -4%;
}



.quiz-ans-btn {
    border: 1px solid black;
    font-size: 19px;
    width: 59%;
    margin-left: 20%;
    margin-top: 2%;
    color: white;
    background-color: #51af51;
}



.quiz-ans-btn:hover{
    background-color: #2e5a2e;
    font-weight:bold;
    color:white;
}


span#correctRow-span {
    color: green;
}